.css-d6zqz4-MuiPaper-root-MuiAccordion-root{
    background-color: transparent !important;
    color: #fff !important;
  }
  .css-yw020d-MuiAccordionSummary-expandIconWrapper{
    color: #fff !important;
  }
  .css-d6zqz4-MuiPaper-root-MuiAccordion-root{
    box-shadow: none !important;
  }
  .css-1pzqbl7-MuiPaper-root-MuiAccordion-root {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #fff !important;
    position: inherit !important;
  }