.sign-up-child-sp {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #1B032A, #6ebff1a8 70%);
    width: 100%;
    height: 1024px;
}

.group-child-sp {
  position: absolute;
  top: 0;
  left: 601px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 531px;
  height: 650px;
}


.begin-your-meta-sp {
    position: absolute;
    top: 534px;
    left: 0;
    font-size: 28px;
    letter-spacing: 0.01em;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    width: 426px;
}

.span-sp {
    color: var(--color-slateblue);
}

.sign-in1-sp {
    font-weight: 600;
    color: #671ae4;

}

.already-a-member-container-sp {
    position: absolute;
    top: 82px;
    left: 632px;
    letter-spacing: 0.02em;
    cursor: pointer;
}



.vector-parent-sp {
    position: absolute;
    height: 5.08%;
    width: 40.55%;
    top: 52.15%;
    right: 3.71%;
    bottom: 42.77%;
    left: 55.74%;
}



.full-name-parent-sp {
    position: absolute;
    top: 0;
    left: 0;
    width: 229px;
    height: 33px;
}

.full-name-parent-sp2 {
    position: absolute;
    top: -100px;
    left: 0;
    width: 229px;
    height: 33px;
}

.last-name-parent-sp2 {
    position: absolute;
    top: -100px;
    left: 254px;
    width: 229px;
    height: 33px;
}

.vector-parent-sp2 {
    position: absolute;
    height: 5.08%;
    width: 40.55%;
    top: 52.15%;
    right: 3.71%;
    bottom: 42.77%;
    left: 78.3%;
}

.group-parent-sp,
.last-name-parent-sp {
    position: absolute;
    top: 0;
    left: 254px;
    width: 229px;
    height: 33px;
}


.group-parent-sp {
    top: 246px;
    left: 632px;
    width: 458px;
}

.create-account-wrapper-sp {
    position: absolute;
    top: 563px;
    left: 915px;
    border-radius: 121px;
    background: linear-gradient(214.02deg, #b75cff, #671ae4);
    height: 47px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 17px;
    font-family: var(--font-poppins);
}

.image-8-icon-sp,
.rectangle-parent-sp {
    position: absolute;
    top: 187px;
    left: 179px;
    width: 1132px;
    height: 650px;
}

.image-8-icon-sp {
    top: 195px;
    left: 0px;
    width: auto;
    height: 477px;
    object-fit: cover;
}

.sign-up1-sp {
    position: absolute;
    top: 209px;
    left: 811px;
    font-size: 30px;
    letter-spacing: 0.01em;
    font-weight: 800;
    text-align: center;
}

.sign-up-sp {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-sf-pro-display);
}

/* input css*/
.group-sp {
    position: relative;
    margin-bottom: 35px;

}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

/* BOTTOM BAR-spS ================================= */
.bar-sp {
    position: relative;
    display: block;
    width: 200px;
}

.bar-sp:before,
.bar-sp:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #1b1c1da8;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar-sp:before {
    left: 50%;
}

.bar-sp:after {
    right: 50%;
}

/* active state */
input:focus~.bar-sp:before,
input:focus~.bar-sp:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight-sp {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight-sp {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/*dropdown */
.selectdiv {
    position: absolute;
    /*Don't really need this just for demo styling*/

    left: 255px;
    top: 400px;
    min-width: 220px;
    margin: 50px 33%;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

.selectdiv:after {
    content: '<>';
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 10px;
    /*Adjust for position however you want*/

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */

    position: absolute;
    pointer-events: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: rgb(0, 0, 0);
    background-image: white;
    border: 1px solid #6837e394;
    outline: none;
    border-radius: 10px;

}