
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
	background: linear-gradient(90deg, #1B032A, #6EBFF1 70%);
	font-family: 'Titillium Web', sans-serif;
	color: white;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
 
  --font-sf-pro-display: "SF Pro Display";
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --color-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.1);
  --color-gray-200: rgba(255, 255, 255, 0.2);
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-slateblue: #6c5dd3;
  --color-dimgray: #747474;
  --padding-3xs: 10px;
  --br-8xs: 5px;
  --br-11xs-9: 1.9px;
  --br-123xl-4: 142.4px;
  --br-10xs-4: 2.4px;
  --br-159xl-9: 178.9px;
  --br-9xs: 4px;
  --br-131xl: 150px;
}

}

