
.allProduct-wrap{
    display: flex;
}
.card-columns{
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
     gap:15px;

}
.sideBar {
    border-radius: 10px;
    /* padding: 10%; */
    height: 380px;
    top: 33%;
    position: fixed;
    background-color: #ffffff1a;
}
.sideBar-list-item{
    border-bottom: solid 1px;
}
.sideBar-list{
    
    padding: 20px;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 20px;
}
.select-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    z-index: 999;
  }
  
  .select-wrapper.open .select-dropdown {
    display: block;
  }
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    width: 100px;
    color: #fff;
  }
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
  }